<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="style.css">
   <title>Travel Guide</title>
</head>

<body>
   <h1>Hi How Are <%= name %></h1>
   <div id="page" class="site home">
      <div class="container">
         <div class="wrapper">
            <h1>Welcome to our Website to Travel to Evrey coubtry tou want </h1>
            <p>please login to access to all info about travels if you didn't have an account please register </p>
            <form action="/user/logout?_method=DELETE" method="POST">
               <ul></ul>
               <!-- <a href="/user/logout" class="btn">logOut</a> -->
               <button type="submit" class="btn">Sign out</button>
            </form>
         </div>
      </div>
   </div>
   <script>
      // const ul = document.querySelector('ul')
      // const getUsers = async () => {
      //    const res = await fetch('/user/getUsers')
      //    const data = await res.json()
      //    data.user.map((mappedUser) => {
      //       if (mappedUser.email !== 'admin') {
      //          let li =
      //             `<li> <b>email</b> => ${mappedUser.email} <br> <b>Role</b> => ${mappedUser.role} </li>`
      //          ul.innerHTML += li
      //       } else {
      //          return null
      //       }
      //    })
      // }
      // getUsers()
   </script>
</body>

</html>