<div id="page" class="site">
   <div class="cont">
      <div class="wrapper">
         <div class="login">
            <div class="content-heading">
               <div class="y-style">
                  <div class="logo"><a href="#">.web<span>Travel</span></a></div>
                  <div class="welcome">
                     <h2>Welcome<span class="under">Back!</span></h2>
                     <p>Get start to see the world</p>
                  </div>
               </div>
            </div>
            <div class="content-form">
               <div class="y-style">
                  <!-- <div id="alert"></div> -->
                  <% if (messages.error) { %>
                  <%= messages.error %>
                  <% } %>
                  <%- include ("./msg/messages"); %>
                  <form action="/user/login" method="post" class="login-form">
                     <p>
                        <label for="email">Email</label>
                        <input type="email" name="email" placeholder="name@email.com" id="email" required>
                     </p>
                     <p>
                        <label for="password">password</label>
                        <input type="password" name="password" value="" placeholder="******** " id="password" required>
                     </p>
                     <p class="check">
                        <input type="checkbox" name="ckeck" id="remember">
                        <label for="remember">remember me</label>
                     </p>
                     <p class="forget"><a href="#">Forget password</a></p>
                     <button type="submit" class="btn" id="login">Login</button>
                  </form>
                  <div class="afterform">
                     <p>don't have an account </p>
                     <a href="/user/register" class="t-signup">signUp</a>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>

<script>
   // let display = document.getElementById("alert");
   const form = document.querySelector(".login-form");
   const email = document.querySelector("#email");
   const password = document.querySelector("#password");

   form.addEventListener("submit", async (e) => {
      e.preventDefault();
      // display.textContent = "";
      try {
         const res = await fetch("/user/login", {
            method: "POST", // or 'PUT'
            body: JSON.stringify({
               email: email.value,
               password: password.value,
            }), // data can be `string` or {object}!
            headers: {
               "Content-Type": "application/json",
            },
         });
         const data = await res.json();
         if (res.status === 400 || res.status === 401) {
            return messages.error = `${data.message}. ${data.error ? data.error : ''}`
         }
         data.role === "admin" ?
            location.assign("home/admin") :
            location.assign("/home");
      } catch (err) {
         console.log(err.message);
      }
   });
</script>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>